.search-menu-main-container {
  display: flex;
  background-color: gainsboro;
  width: 75%;
  height: 80vh;
  align-content: center;
}
.side-bar-container {
  background-color: gainsboro;
  padding-top: 1rem;
  text-align: left;
}
.search-menu-contents {
  display: flex;
  text-overflow: auto;
  flex-direction: column;
  background-color: rgb(214, 203, 203);
  padding: 0 1rem;
}
.sidebar-heading {
  padding-left: 1rem;
}
.side-bar-input {
  text-align: left;
  border: hidden;
  padding: 0.5rem 1.6rem;
  border: 1px solid black;
  border-radius: 3px;
}

.side-bar-links {
  list-style: none;
  padding: 6px;
  text-align: left;
  padding-left: 1rem;
  font-size: large;
}
.side-bar-links:hover {
  background-color: snow;
}
.side-bar-links-container {
  flex-wrap: wrap;
}
.content-page-content {
  font-style: oblique;
  word-spacing: 1rem;
  font-size: larger;
  padding: 1rem 0;
  text-decoration: double;
  text-shadow: 2px 2px wheat;
  max-height: 100%;
  overflow: auto;
}
