.search-menu-main-container {
  display: flex;
  background-color: whitesmoke;
  width: 75%;
  height: 70vh;
  align-content: center;
}
.side-bar-container {
  width: 30%;
  height: 70vh;
  background-color: rgb(212, 208, 208);
}
