.search-menu-main-container {
  display: flex;
  background-color: whitesmoke;
  width: 75%;
  height: 70vh;
  align-content: center;
}
.side-bar-container {
  width: 30%;
  background-color: rgb(212, 208, 208);
  padding-top: 1rem;
  text-align: left;
}
.search-menu-contents {
  width: 100%;
  height: 100%;
}
.sidebar-heading {
  padding-left: 1rem;
}
.side-bar-input {
  text-align: left;
  border: hidden;
  width: 99%;
  height: 7%;
}
.side-bar-input:active {
  border: hidden;
}
